@{
    ViewBag.Title = "About";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>О нас</title>
        <link rel="stylesheet" href="../../Content/about.css">
    </head>
    <body>
        <section class="about">
            <div class="container">
                <div class="about_items">
                    <div class="about_item">
                        <div class="about_title">
                            Информация о нашей компании
                        </div>
                        <div class="about_content">
                            ООО «СветомирБай» основался на рынке продаж в 2000-ых годах, но как общество начал работать с 20 февраля 2015. За это время мы сумели зарекомендовать себя в качестве надежного и проверенного партнера.<br /><br />

                            Компания занимается продажей электротехники, монтажом, предоставляет широкий спектр услуг рекламы, оформление зданий и прилегающей территории. Таким образом мы являемся одной из ведущих компаний на рынке продаж светотехники.<br /><br />

                            Вы сможете быстро, надежно и удобно приобрести представленную на витрине магазина электротехническую продукцию. Наша задача — удовлетворить потребности и больших компаний, и частных лиц.
                        </div>
                    </div>
                    <div class="about_item">
                        <div class="about_title">
                            Компании, с которомы мы работали
                        </div>
                        <div class="about_content">
                            <div style="margin-bottom:30px" class="rows algn">
                                <img class="hu col-md-3" src="../../img/about-1.png" alt="Alternate Text" />
                                <img class="col-md-3" src="../../img/about-2.png" alt="Alternate Text" />
                                <img class="col-md-3" src="../../img/about-3.png" alt="Alternate Text" />
                                <img class="col-md-3" src="../../img/about-4.jpg" alt="Alternate Text" />
                            </div>
                            <div class="rows algn">
                                <img class="col-md-3" src="../../img/about-5.jpg" alt="Alternate Text" />
                                <img class="col-md-3" src="../../img/about-6.png" alt="Alternate Text" />
                                <img class="col-md-3" src="../../img/about-7.jpg" alt="Alternate Text" />
                                <img class="col-md-3" src="../../img/about-8.png" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    </html>