@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
        <link rel="stylesheet" href="../../Content/bootstrap.css">
        <link rel="stylesheet" href="../../Content/fonts.css">
        <link rel="stylesheet" href="../../Content/normalize.css">
        <link rel="stylesheet" href="../../Content/slick.css">
        <link rel="stylesheet" href="../../Content/index_style.css">


    </head>
    <body>
        <header class="header">
            <div class="header_top">
                <div class="container">
                    <div class="header_top-inner">
                        <a class="header_phone" href="tel:375173773344375291511102375172022265375296566777">+375 (17) 377-33-44, +375 (29) 151-11-02, +375 (17) 202-22-65, +375 (29) 656-67-77</a>
                        <a href="#" class="header_mail">svetomir2015@mail.ru</a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container">
                    <div class="header_bottom-inner">
                        <nav class="menu">
                            <ul>
                                <li><a style="border-color: #FF7400" href="~/Home/Index">Главная</a></li>
                                <li><a href="~/Home/About">О нас</a></li>
                                <li><a href="#">Статьи</a></li>
                                <li><a href="~/Home/Contact">Контакты</a></li>
                                <li><a href="#">Прайс-лист</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <section class="slider">
            <div class="container">
                <div class="slider_items">
                    <div class="slider_item">
                        <div class="slider_item-content">
                            <div class="slider_title">
                                Добро пожаловать на СветомирБай!
                            </div>
                            <div class="slider_text">
                                Светомир предлагает световые и дизайнерские решения для праздничного и декоративного оформления
                                зданий и прилегающей территории с использованием светодиодной и неоновой светотехники
                            </div>

                        </div>
                    </div>
                    <div class="slider_item">
                        <div class="slider_item-content">
                            <div class="slider_title">
                                Зачем это нужно?
                            </div>
                            <div class="slider_text">
                                Дополнительное красочное освещение помещений и зданий, придает дополнительное внимание объекту. Ведь никто не будет спорить, что мы скорее пойдем в то место, которое выражено огнями, светодиодными фигурами и вывесками, чем в неприметное, темное, ничем не освещенное помещение. Светодиодная подсветка поможет в привлечении дополнительных клиентов, которые просто раньше не замечали Ваше здание или заведение. Ведь все мы видели в фильмах город Лас-Вегас, где всё мерцает и светится. Это и создает атмосферу престижа и успешного образа жизни. Разве вы не хотите большее количество престижных клиентов?!
                            </div>
                        </div>
                    </div>
                    <div class="slider_item">
                        <div class="slider_item-content">
                            <div class="slider_title">
                                Почему светодиоды?
                            </div>
                            <div class="slider_text">
                                Идея перехода на светодиодные (в обиходе — «ледовые», от аббревиатуры LED, Light Emitting Diode) лампы  постепенно завоевывают умы потребителей. Процесс, надо отметить, проистекает с приличной скоростью — эпоха зверских цен уже позади, ценовой разрыв LED и энергосберегающих ламп на сегодняшний день сократился до приемлемого уровня. Может, пора покупать?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
       

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="../../Scripts/slick.min.js"></script>
        <script src="../../Scripts/main.js"></script>
    </body>
    </html>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@