@{
    ViewBag.Title = "Home Page";
}

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главная</title>
    </head>
    <body>
        <section class="slider">
            <div class="container">
                <div class="slider_items">
                    <div class="slider_item">
                        <div class="slider_item-content">
                            <div class="slider_title">
                                Добро пожаловать на СветомирБай!
                            </div>
                            <div class="slider_text">
                                Светомир предлагает световые и дизайнерские решения для праздничного и декоративного оформления
                                зданий и прилегающей территории с использованием светодиодной и неоновой светотехники
                            </div>
                        </div>
                    </div>
                    <div class="slider_item">
                        <div class="slider_item-content">
                            <div class="slider_title">
                                Зачем это нужно?
                            </div>
                            <div class="slider_text">
                                Дополнительное красочное освещение помещений и зданий, придает дополнительное внимание объекту. Ведь никто не будет спорить, что мы скорее пойдем в то место, которое выражено огнями, светодиодными фигурами и вывесками, чем в неприметное, темное, ничем не освещенное помещение. Светодиодная подсветка поможет в привлечении дополнительных клиентов, которые просто раньше не замечали Ваше здание или заведение. Ведь все мы видели в фильмах город Лас-Вегас, где всё мерцает и светится. Это и создает атмосферу престижа и успешного образа жизни. Разве вы не хотите большее количество престижных клиентов?!
                            </div>
                        </div>
                    </div>
                    <div class="slider_item">
                        <div class="slider_item-content">
                            <div class="slider_title">
                                Почему светодиоды?
                            </div>
                            <div class="slider_text">
                                Идея перехода на светодиодные (в обиходе — «ледовые», от аббревиатуры LED, Light Emitting Diode) лампы  постепенно завоевывают умы потребителей. Процесс, надо отметить, проистекает с приличной скоростью — эпоха зверских цен уже позади, ценовой разрыв LED и энергосберегающих ламп на сегодняшний день сократился до приемлемого уровня. Может, пора покупать?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services">
            <div class="container">
                <div class="services__top">
                    <div class="services__title-box">
                        <div class="services-title">
                            Наши услуги
                        </div>
                    </div>
                </div>
                <div class="rows services-items">
                    <div class="services__item col-md-4">
                        <img class="services__item-img" src="../../img/services-1.png">
                        <div class="services__item-title">
                            Светодиодные модули
                        </div>
                        <div class="services__item-text">
                            Светодиодные модули – это специальные осветительные приборы, представляющие собой цельные конструкции, которые оснащены различными типами светодиодов — SMD 3528, SMD 5050, SMD 5630. Устройства могут иметь открытый корпус с функцией влагозащиты или без нее, а также изолированную герметичную оболочку.
                        </div>
                        <div class="services__item-btn">
                            <a href="http://svetomir.by/led-modul" class="def_btn">Перейти</a>
                        </div>
                    </div>
                    <div class="services__item col-md-4">
                        <img class="services__item-img" src="../../img/services-2.png">
                        <div class="services__item-title">
                            Светодиодные ленты
                        </div>
                        <div class="services__item-text">
                            Светодиодные ленты являются экономичным источником точечного света, способные давать потрясающий яркий свет. Освещение на основе светодиодных лент используется для контурного освещения, в ночных клубах, ресторанах, в подсветке автомобиля, в интерьере и светодизайне.
                        </div>
                        <div class="services__item-btn">
                            <a href="http://svetomir.by/katalog/led-strip" class="def_btn">Перейти</a>
                        </div>
                    </div>
                    <div class="services__item col-md-4">
                        <img class="services__item-img" src="../../img/services-3.png">
                        <div class="services__item-title">
                            Новогодние фигуры
                        </div>
                        <div class="services__item-text">
                            Мы все любим новогодние праздники за то, что все улицы города украшены невероятными световыми мотивами и светодиодными фигурами, которые создают атмосферу той самой новогодней сказки. Световые новогодние фигуры могут быть как уличные, так и использоваться для дома. В нашем ассортименте вы найдете новогодние световые фигуры различной конфигурации.
                        </div>
                        <div class="services__item-btn">
                            <a href="#" class="def_btn">Перейти</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
    </html>

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@