
.about_item {
    margin: 30px 0;
}

.algn {
    display: flex;
    flex-flow: row wrap;
}

.about_title {
    font-size: 24px;
    color: #111111;
    padding-bottom: 10px;
    text-align: center;
    margin: 30px 0;
}

.about_content {
    font-size: 16px;
    color: #111111;
    display: flex;
    flex-flow: row wrap;
}

img {
    transition: all .3s;
    width: 100%;
    margin-bottom:30px;
}
